*{
    margin: 0;
    padding: 0;
}

/* font link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family */
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.btn-primary{
    background-color: #FF900E;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
}



/* header style here */
header{
    background-color: rgba(255, 144, 14, 0.1);
    padding: 60px 0px 40px 0px;
}

/* nav style here */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2{
    font-size: 2.8rem;
    font-weight: 700;
}
.nav-items{
    display: flex;
    list-style: none;
    gap:25px;
    justify-content: center;
    align-items: center;
}

nav li a{
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
}

/* banner style here */
.banner{
    margin-top: 100px;
}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}

.banner-content p{
    color: rgba(114, 114, 114, 1);
    margin: 32px 0px;
}
.banner-content h2{
    font-size: 4rem;
    font-weight: 700;
}

.banner-image{
    width: 100%;
    margin-top: 50px;
}

/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, .nav-items{
        flex-direction: column;
    }
    .nav-items{
        margin-top: 20px;
    }
}
