*{
    margin: 0;
    padding: 0;
}

/* font link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family */
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.btn-primary{
    background-color: #FF900E;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
}



/* header style here */
header{
    background-color: rgba(255, 144, 14, 0.1);
    padding: 60px 0px 40px 0px;
}

/* nav style here */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2{
    font-size: 2.8rem;
    font-weight: 700;
}
.nav-items{
    display: flex;
    list-style: none;
    gap:25px;
    justify-content: center;
    align-items: center;
}

nav li a{
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
}

/* banner style here */
.banner{
    margin-top: 100px;
}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}

.banner-content p{
    color: rgba(114, 114, 114, 1);
    margin: 32px 0px;
}
.banner-content h2{
    font-size: 4rem;
    font-weight: 700;
}

.banner-image{
    width: 100%;
    margin-top: 50px;
}

/* ---our features section style */
.our-features{
    max-width: 1440px;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    
}
.feature-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}


.feature-content h3{
    font-size: 2.8rem;
    color: rgba(114, 114, 114, 1);
    font-weight: 600;
}
.black-part{
    color:rgba(19, 19, 19, 1);
}
.orange-part{
    color: #FF900E;
}

.feature-content p{
     color:rgba(114, 114, 114, 1);
     margin: 24px 0px 32px 0px;
}

/* ----experience-section style */
.experience-section{
    max-width: 1440px;
    margin: 130px auto;
    display: flex;
    gap: 140px;
    align-items: center;
}

.card-container{
    margin-top: 30px;
}
.cards-div h3{
    border-left: 5px solid rgba(255, 144, 14, 1);
    font-size: 2.8rem;
    font-weight: 700;
    padding-left: 20px;
    margin-bottom: 24px;
}
.cards-div p{
    color:rgba(114, 114, 114, 1);
}

.cards{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}
.cards h5{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}



.image-div{
    position: relative;
}

.exprienc-div{
    width: 330px;
    padding: 45px 42px;
    border-radius: 8px;
    background-color: rgba(255, 144, 14, 1);
    color: white;
    text-align: center;
    position: absolute;
   bottom: -70px;
    left: -92px;
}
.exprienc-div h5{
    font-size: 2.8rem;
    font-weight: 800;
}
.exprienc-div p{
    font-weight: 500;
}



/* fact section style */

.facts-section{
    max-width: 1440px;
    margin: 130px auto;
}

.facts-section h3{
    font-size: 2.8rem;
    font-weight: 700;
}
.facts-section p{
    margin-top: 24px;
    color: rgba(114, 114, 114, 1);
}

.fact-cart-container{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    place-items: center;
}

.fact-cart{
    width: 240px;
    height: 240px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.fact-cart h4{
    font-size: 2.8rem;
    color: #424242;
    font-weight: 700
}
.fact-cart h5{
    color: #727272;
    font-size: 1.25rem;
}





/* responsive media query for small device */
@media screen and (max-width: 576px) {
    .navbar, .nav-items, .our-features{
        flex-direction: column;
    }
    .nav-items{
        margin-top: 20px;
    }

    .feature-images{
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-content{
        margin-left: 20px;
    }

    .experience-section{
        flex-direction: column;
        margin: 0px 10px;
        gap: 50px;
    }
    .exprienc-div{
        width: 270px;
        padding: 30px 28px;
        border-radius: 8px;
        bottom: -70px;
        left: 120px;
    }

    .fact-cart-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .fact-cart{
        margin-bottom: 50px;
    }
}

/* responsive for medium device */
@media screen and (min-width: 576px) and (max-width:992px) {
    .our-features{
        flex-direction: column;
    }
    .feature-content{
        margin: 0 50px;
    }
    
    .experience-section{
        flex-direction: column;
        margin: 0px 10px;
        gap: 50px;
    }
    .fact-cart-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .fact-cart{
        margin-bottom: 50px;
    }
   
}
