*{
    margin: 0;
    padding: 0;
}

/* font link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family */
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.navbar, .banner{
    width: 1440px;
    margin: 0 auto;
}

/* header style here */
header{
    background-color: rgba(255, 144, 14, 0.1);
    padding: 60px 0px 40px 0px;
}

/* nav style here */
nav{
    display: flex;
    justify-content: space-between;
}

.nav-items{
    display: flex;
    list-style: none;
    gap:25px;
    justify-content: center;
    align-items: center;
}

nav li a{
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
}